.container {
    background-color: #eee;
    max-width: 1230px;
    min-width: 768px;
    margin: 0 auto;
}

.main {
    position: relative;
}
.menu {
    display: inline-block;
    width: 50%;
    height: 80px;
}
.menu__inner {
    height: 100%;
    display: flex;
    align-items: center;
}
.title {
    font-size: 30px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    line-height: 1;
    color: #3560F6;
}

.hamburger {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #9d9d9d;
    background-color: #3560F6;
}
.hamburger__bar {
    display: block;
    height: 1px;
    position: absolute;
    left: 25%;
    background-color: #fff;
}
.hamburger__bar:nth-child(1) {
    top: 30%;
    width: 25%;
}
.hamburger__bar:nth-child(2) {
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
}
.hamburger__bar:nth-child(3) {
    top: 70%;
    width: 10%;
    transform: translateY(-100%);
}
/* 入力フォームリセット */
input {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* ボタンリセット */
button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none
}

.error-message {
    font-size: 16px;
    color: red;
}
.message {
    font-size: 16px;
    color: rgb(0, 255, 13);
}