.payment {
    text-align: center;
}
.payment__wrap {
    text-align: left;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
    background-color: #003FF5;
}
.payment__table td {
    width: 150px;
}